body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(20deg, rgb(2, 247, 234), purple);
    
}

.pesquisar__imagem {
    
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-evenly;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 25PX;
}

P{ 
    text-align: right;
    color:rgba(87, 82, 82, 0.623) ;
    padding: 20px;

 }

 h2{
    background-color: rgba(177, 180, 171, 1);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 25pX;
     }

  
  button{
    padding: 1rem;
    background-color:rgb(230, 233, 224);
    border: none;
    text-align: center;
    display: block; /* Centraliza horizontalmente */
    margin: 0 auto; /* Centraliza verticalmente */
    font-size: 15px;
  }
  .botao__pesquisar {
    padding: 1rem;
    background-color:rgb(120, 122, 115);
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;

  }
  .botao__dicas {
    padding: 1rem;
    background-color:rgb(120, 122, 115);
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;

  }
  .botao__voltar {
    padding: 0.8rem;
    background-color:rgb(120, 122, 115);
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
    
    
  }
  a {
    text-decoration: none;
    
  }

  img{
    text-align: center;
    display: block; /* Centraliza horizontalmente */
    margin: 0 auto; /* Centraliza verticalmente */
  }

  .imagem__cinema {
    width: 100%;
    height: 100%;

  }
  .titulo {
    width: 300px;
  }
  form {
    margin-top: 10px;
    padding: 10px;
  }
  div.lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

  }
  div.item {
    text-align: center;
    padding: 10px;
    width: 300px;
  }
  .pesquisa {
    background-color: rgb(168, 230, 230);
    color: #d61616;
    width: 250px;
    height: 35px;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 20px;
    
  }
  .botao__pesquisar__filmes {
    background-color: rgb(168, 230, 230);
    width: 120px;
    height: 43px;
    border: 3px solid black;
    border-radius: 25px;
    color: black;
    text-align: center;
    font-size: 20px;

  }
  .formulario {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
  }

  .lupa {
    height: 40px;
  }

  .pesquisar__filme {
    display: flex;
    height: 180px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    
  }
  .ancora__pesquisar {
    text-decoration: none;
    color: blue;
  }
  .poster__filmes {
    display: flex;
    justify-content: space-evenly;

  }
  .poster__filmes__2 {
    margin-bottom: 20px;
  }
  
 
  
